.spacePadding {
	padding-top: 5.5%;
}

.thumbnail-resize {
	margin-bottom: 5px;
}

.text-zero-margin {
	margin: 0px;
	padding: 0px;
}

.navbar {
	background-color: #639bff;
}

.jumbotron {
	background: #9badb7;
	color: white;
}