.spacePadding {
	padding-top: 27%;
}

.thumbnail-resize {
	margin-bottom: 5px;
}

.text-zero-margin {
	margin: 0px;
	padding: 0px;
}

.navbar {
	background-color: #639bff;
}

.jumbotron {
	background: #9badb7;
	color: white;
}

/* xs */
.img_icon {
    width: 75px;
    height: 75px;
}

@media (min-width: 565px) {
	.spacePadding {
		padding-top: 25%;
	}
}

@media (min-width: 600px) {
	.spacePadding {
		padding-top: 23%;
	}
}

@media (min-width: 660px) {
	.spacePadding {
		padding-top: 21%;
	}
}

@media (min-width: 695px) {
	.spacePadding {
		padding-top: 19%;
	}
}

/* sm */
@media (min-width: 768px) {
    .img_icon {
        width: 75px;
		height: 75px;
    }
	.spacePadding {
		padding-top: 19%;
	}
}

/* md */
@media (min-width: 992px) {
    .img_icon {
        width: 50px;
		height: 50px;
    }
	.spacePadding {
		padding-top: 9%;
	}
}

/* lg */
@media (min-width: 1200px) {
    .img_icon {
		width: 50px;
		height: 50px;
    }
	.spacePadding {
		padding-top: 7%;
	}
}
